<div>
  <h2 id="page-heading" data-cy="ClaimHeading">
    <span jhiTranslate="cgdevaccleratorApp.claim.home.title">Claims</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cgdevaccleratorApp.claim.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-claim"
        [routerLink]="['/claim/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cgdevaccleratorApp.claim.home.createLabel"> Create a new Claim </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="claims?.length === 0">
    <span jhiTranslate="cgdevaccleratorApp.claim.home.notFound">No Claims found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="claims && claims.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="claimNumber">
            <div class="d-flex">
              <span jhiTranslate="cgdevaccleratorApp.claim.claimNumber">Claim Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="claimState">
            <div class="d-flex">
              <span jhiTranslate="cgdevaccleratorApp.claim.claimState">Claim State</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="policyNumber">
            <div class="d-flex">
              <span jhiTranslate="cgdevaccleratorApp.claim.policyNumber">Policy Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="policy.id">
            <div class="d-flex">
              <span jhiTranslate="cgdevaccleratorApp.claim.policy">Policy</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let claim of claims; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/claim', claim.id, 'view']">{{ claim.id }}</a>
          </td>
          <td>{{ claim.claimNumber }}</td>
          <td>{{ claim.claimState }}</td>
          <td>{{ claim.policyNumber }}</td>
          <td>
            <div *ngIf="claim.policy">
              <a [routerLink]="['/policy', claim.policy.id, 'view']">{{ claim.policy.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/claim', claim.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/claim', claim.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(claim)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="claims && claims.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
