<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-policy-heading" data-cy="PolicyCreateUpdateHeading" jhiTranslate="cgdevaccleratorApp.policy.home.createOrEditLabel">
        Create or edit a Policy
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cgdevaccleratorApp.policy.policyNumber" for="field_policyNumber">Policy Number</label>
          <input
            type="text"
            class="form-control"
            name="policyNumber"
            id="field_policyNumber"
            data-cy="policyNumber"
            formControlName="policyNumber"
          />
          <div
            *ngIf="editForm.get('policyNumber')!.invalid && (editForm.get('policyNumber')!.dirty || editForm.get('policyNumber')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('policyNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cgdevaccleratorApp.policy.policyType" for="field_policyType">Policy Type</label>
          <input
            type="text"
            class="form-control"
            name="policyType"
            id="field_policyType"
            data-cy="policyType"
            formControlName="policyType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
