<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="policy">
      <h2 data-cy="policyDetailsHeading"><span jhiTranslate="cgdevaccleratorApp.policy.detail.title">Policy</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ policy.id }}</span>
        </dd>
        <dt><span jhiTranslate="cgdevaccleratorApp.policy.policyNumber">Policy Number</span></dt>
        <dd>
          <span>{{ policy.policyNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cgdevaccleratorApp.policy.policyType">Policy Type</span></dt>
        <dd>
          <span>{{ policy.policyType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/policy', policy.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
