<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading" jhiTranslate="cgdevaccleratorApp.customer.home.createOrEditLabel">
        Create or edit a Customer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cgdevaccleratorApp.customer.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cgdevaccleratorApp.customer.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cgdevaccleratorApp.customer.policy" for="field_policy">Policy</label>
          <select
            class="form-control"
            id="field_policy"
            data-cy="policy"
            name="policy"
            formControlName="policy"
            [compareWith]="comparePolicy"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="policyOption" *ngFor="let policyOption of policiesCollection">{{ policyOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cgdevaccleratorApp.customer.claim" for="field_claim">Claim</label>
          <select class="form-control" id="field_claim" data-cy="claim" name="claim" formControlName="claim" [compareWith]="compareClaim">
            <option [ngValue]="null"></option>
            <option [ngValue]="claimOption" *ngFor="let claimOption of claimsCollection">{{ claimOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
