<div>
  <h2 id="page-heading" data-cy="PolicyHeading">
    <span jhiTranslate="cgdevaccleratorApp.policy.home.title">Policies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cgdevaccleratorApp.policy.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-policy"
        [routerLink]="['/policy/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cgdevaccleratorApp.policy.home.createLabel"> Create a new Policy </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="policies?.length === 0">
    <span jhiTranslate="cgdevaccleratorApp.policy.home.notFound">No Policies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="policies && policies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="policyNumber">
            <div class="d-flex">
              <span jhiTranslate="cgdevaccleratorApp.policy.policyNumber">Policy Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="policyType">
            <div class="d-flex">
              <span jhiTranslate="cgdevaccleratorApp.policy.policyType">Policy Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/policy', policy.id, 'view']">{{ policy.id }}</a>
          </td>
          <td>{{ policy.policyNumber }}</td>
          <td>{{ policy.policyType }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/policy', policy.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/policy', policy.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(policy)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="policies && policies.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
