<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="claim">
      <h2 data-cy="claimDetailsHeading"><span jhiTranslate="cgdevaccleratorApp.claim.detail.title">Claim</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ claim.id }}</span>
        </dd>
        <dt><span jhiTranslate="cgdevaccleratorApp.claim.claimNumber">Claim Number</span></dt>
        <dd>
          <span>{{ claim.claimNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cgdevaccleratorApp.claim.claimState">Claim State</span></dt>
        <dd>
          <span>{{ claim.claimState }}</span>
        </dd>
        <dt><span jhiTranslate="cgdevaccleratorApp.claim.policyNumber">Policy Number</span></dt>
        <dd>
          <span>{{ claim.policyNumber }}</span>
        </dd>
        <dt><span jhiTranslate="cgdevaccleratorApp.claim.policy">Policy</span></dt>
        <dd>
          <div *ngIf="claim.policy">
            <a [routerLink]="['/policy', claim.policy.id, 'view']">{{ claim.policy.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/claim', claim.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
